body {
  overflow: auto;
}

h1 {
  font-size: 25px;
  text-transform: uppercase;
}

#first-page {
  background: url(h_img.jpg)no-repeat center;
  background-size: cover;
  height: 600px;
  text-align: center;
  color: aliceblue;
  margin: 25px 50px 25px 30px;
  text-transform: uppercase;
}

#about-us {
  background: none;
  background-size: cover;
  position: relative;
  text-align: center;
  font-size: 15px;
  margin: 25px 50px 75px 30px;
}

#services {
  margin: 25px 50px 25px 40px;
  background: url(s_image.jpg)no-repeat center;
  background-size: cover;
  height: 400px;
  text-align: center;
  color: aliceblue;
  font-size: 15px;
}

#what-we-do {
  background: none;
  background-size: cover;
  /* height: 150px; */
  text-align: center;
  /* margin: 25px 50px 25px 50px; */
  margin-left: 17%;
  width: 800px;
}

#portfolio {
  background: none;
  background-size: cover;
  height: 400px;
  width: 800px;
  text-align: center;
  margin: 25px 50px 25px 230px;
}

#portfolio :hover img {
  cursor: pointer;
}

#work1 {
  display: none;
  background-color: white;
}

#work2 {
  display: none;
  background-color: white;
}

#work3 {
  display: none;
  background-color: white;
}

#work4 {
  display: none;
  background-color: white;
}

#work5 {
  display: none;
  background-color: white;
}

#work6 {
  display: none;
  background-color: white;
}

#work7 {
  display: none;
  background-color: white;
}

#work8 {
  display: none;
  background-color: white;
}

#contact-us {
  background: url(c_image.jpg)no-repeat center;
  background-size: cover;
  height: 450px;
  /* position: relative; */
  text-align: center;
  margin: 0px 50px 25px 40px;
}

#icon {
  height: 120px;
  width: 150px;
}

.page-offset {
  position: relative;
  top: 25%;
}

#contact-pg-offset {
  position: relative;
  top: 10%;
  color: aliceblue;
}

#icon-loaction {
  position: relative;
  bottom: -50%;
}

#design {
  display: none;
}

#development {
  display: none;
}

#product-management {
  display: none;
}

#what-we-do:hover img {
  cursor: pointer;
}

input[type="text"] {
  color: white;
  background: rgba(0, 0, 0, 0);
  border: white;
  outline: none;
  border-style: solid
}

#identity {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 2%;
  margin-top: 2%;
}

#messageForm {
  margin-left: 10%;
  height: 200px;
  width: 80%;
}

#feedback {
  display: none;
}

#icons {
  height: 30px;
  width: 1000px;
  margin-left: 10%;
}

#socialIcon {
  height: 40x;
  width: 40px;
}

#copyright {
  text-align: center;
  font-size: smaller;
  line-height: 0px;
  text-transform: uppercase;
}

.form-submit-button {
  background: #4b4848;
  color: rgb(133, 132, 132);
  border: none;
  height: 50px;
  width: 90px;
  border-radius: 20px;
  /* box-shadow: 5px 5px 5px #eee; */
  text-shadow: none;
}